body {
  background-color: rgb(41, 126, 126);
  color: aliceblue;
}

.card {
  height: 300px;
  background-color: rgb(86, 145, 125);
}

header {
  text-align: center;
  background-color: rgb(206, 206, 206);
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.searchBtn {
  background-color: aliceblue;
}

.history {
  text-align: center;
}
